html {
    font-family: Oswald;
}

/* ---------------------------------------------navbar */

.navbar-list {
    float: right;
    margin-right: 0;
}

.navbar-list ul li{
    float: right;
}

.nav-extended {
    height: auto;
}

.nav-wrapper {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 0;
}

.logo img {
    height: 100px;
    width: auto;
    margin-left: 0;
}

.nav-wrapper ul a{
    height: 100px;
    width: 150px;
    line-height: 90px;
    font-size: large;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}

.nav-bottom, .footer-top-bar{
    width: 100%;
    height: 10px;
    background-color: black;
}

.sidenav-trigger i {
    padding-top: 50px;
    color: black;
}

.sidenav .nav-2, .sidenav .nav-1 {
    font-size: larger;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav-1:hover, .sidenav .nav-1:hover {
    background-color: #e0899a;
}

.nav-2:hover, .sidenav .nav-2:hover {
    background-color: #ffb71c;
}



/* -------------------------page heads */
.page-head {
    border-bottom: 1px solid black;
}


/* ------------------------------------------buttons */

.btn {
    background-color: black;
}

.fas {
    color: black;
}

.btn:hover {
    background-color: #ffb71c;
    color: black;
}

.active::before {
    color: #e0899a;
}

/* -------------------------landing page */

.landing-container{
    margin-top: 40px;
}

.landing-img img, .landing-text img, .landing-text-mobile img{
    width: 100%;
    height: auto;
}

.landing-text-mobile {
    display: none;
}

.landing-button {
    line-height: 100px;
    width: 100%;
    height: 100px;
}

.landing-button a{
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.landing-button:hover {
    background-color: none;
    background-image: url("../images/pat-yellow-land.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-button:hover a{
    color: black;
}

/* -----------------------------------------get started */

.how-to {
    margin-top: 30px;
}

.small {
    display: none;
}

.how-to img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.equip-title {
    text-align: center;
    margin: 0;
}

.equip-title h2 {
    margin: 0;
    margin-bottom: 10px;
}

.equip-1 img{
    position: relative;
    margin-left: 0;
    width: 50vw;
    height: auto;
}
.equip-2 img{
    position: relative;
    margin-right: 0;
    width: 50vw;
    height: auto;
}

.step img{
    width: 100%;
    height: auto;

}

/* -----------------------------------------recipes */


.recipe-content {
    margin-top: 30px;
}

.recipe-card {
    height: 200px;
    border: 2px solid black;
}

.recipe-card h3{
    font-weight: 800;
}

.recipe-card a {
    line-height: 175px;
}

.recipe-1 a, .recipe-2 a {
    text-decoration: none;
    color: black;

}

.recipe-1 .recipe-card h3 {
    color: #ffb71c;

}

.recipe-2 .recipe-card h3 {
    color: #e0899a;

}

.recipe-1 .recipe-card:hover {
    background-image: url("../images/pat-yellow-land.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid black;

}

.recipe-2 .recipe-card:hover {
    background-image: url("../images/pat-pink-land.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid black;
}

.recipe-1 .recipe-card:hover h3, .recipe-2 .recipe-card:hover h3{
    color: black;
    font-size: 1000;
}

.recipe-1 .recipe-card:hover p, .recipe-2 .recipe-card:hover p{
    font-weight: bolder;
    font-size: x-large;
}

.recipe-1 .recipe-card:hover p span, .recipe-2 .recipe-card:hover p span{
    font-size: x-large;
    font-weight: 1000;
}

.recipe-card p {
    font-size: x-large;
}

.recipe-card p span{
    font-weight: bolder;
}

/* -----------------------------------recipe */

.recipe-img {
    width: auto;
    height: 500px;
    background-image: url("../images/recipe-kujo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.recipe-img:hover {
    background-image: url("../images/recipe-wink.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover a{
    color: black;
}

/* -----------------------------------profile */

.profile-recipe-card > a{
    width: 100%;
    height: 150px;
}

.profile-recipes a{
    line-height: 50px;
}

.profile-recipes a button{
    width: 150px;
}


.hov-1:hover {
    background-color: #e0899a;
}

.hov-2:hover {
    background-color: #ffb71c;
}


/* -----------------------------------------sign up page */

.sign_up-container{
    margin:0 auto;
    margin-top: 20px;
    width: 100%;
    background: white;
}

/* ----------sign up/ sign in redirect */

.redirect_message {
    font-size: large;
    font-weight: 700;
}

.redirect_message a {
    color: #e0899a;
}

.redirect_message a:hover {
    color: #ffb71c;
}



/* -----------------------------create a recipe page */

.hidden {
    display: none;
}

/* create/edit recipe buttons*/

.remove_ingredient:hover, .remove_step:hover, .cancel:hover {
    background-color: #e0899a;
}


/* -------------------------------------------------footer */

.footer-top-bar {
    margin-top: 200px;
}

footer {
    width: 100%;
  }
  
.general-sub {
    padding: 20px 0;
    font-weight: bolder;
  }
  
.contact-info {
    font-weight: 100;
  }
  
.social-links {
    padding-top: 10px;
    padding-right: 20px;
  }

.social-links li {
    display: inline-block;
}
  
.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
.link-1 a i:hover {  
    background: 	#ffb71c;
  }

.link-2 a i:hover {  
    background: 	#e0899a;
  }

#copyright {
    background-color: black;
    height: 75px;
    text-align: center;
}
  
#copyright .cp-text-1{
    color: #ffb71c;
    font-weight: bold;
  }

#copyright .cp-text-2{
    color: #e0899a;
    font-weight: bold;
  }

.fa-copyright{
    color: #e0899a;
    
  }

#copyright div {
    text-align: center;
    padding-top: 20px;
  }
  

  
.cp-text {
    color: black;
  }

  /* ----------------------------------------------mobile screen-- */

  @media only screen and (max-width: 420px) {

    .sidenav-trigger i{
        padding-top: 35px;
    }

    /* bottom buttons */

    .landing-button a{
        font-size: 10px;
    }

    /* profile recipe buttons */

    .profile-recipes a button{
        width: 120px;
        font-size:10px;
    }


  }

  /* ----------------------------------------------small screen-- */

  @media only screen and (max-width: 600px) {

    /* ----------------------navbar */

    .logo img{
        width: 75vw;
        height: auto;
    }

    /* ---------------------landing */

    .landing-text {
        display: none;
    }

    .landing-text-mobile {
        display: inline-block;
    }

    /* -------------------get started */

    
    .equip-title h2{
        font-size: x-large;
    }

    .equip-1 img, .equip-2 img {
        width: 100%;
        height: auto;

    }

    .small {
        display: inline-block;
    }

    .medium {
        display: none;
    }

    /* bottom buttons */

    .landing-button a{
        font-size: 20px;
    }

    /* -------recipe */

    .ingredients {
        text-align: center;
    }



    /* ---------------------footer */

    footer {
        text-align: center;
    }

    }