{% extends "base.html" %}

{% block content %}

<h3 class="center-align">Create A Recipe</h3>

    <div class="row">
        <form class="col s12 " method="POST" action="{{ url_for('create_recipe') }}">
            <div class="card-panel">
                <!-- recipe name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-wine-bottle prefix light-blue-text text-darken-4"></i>
						<input id="recipe_name" name="recipe_name" type="text" minlength="5"
                            maxlength="30"  class="validate" required>
						<label for="recipe_name">Recipe Name</label>
					</div>
                </div>
                <!-- ingredients -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-apple-alt prefix light-blue-text text-darken-4"></i>
                        <textarea id="ingredients" class="materialize-textarea validate" name="ingredients" type="text" minlength="5" required></textarea>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <!-- Method -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-blender prefix light-blue-text text-darken-4"></i>
                        <textarea id="method" class="materialize-textarea validate" name="method" type="text" minlength="5" required></textarea>
                        <label for="method">Method</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Submit Recipe
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}