{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12 m8 l6 offset-l3 offset-m2">
            <div class="col s12 how-to ">
                <img src="{{ url_for('static', filename='images/title.png') }}" alt="How to make kombucha">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row equip-title">
                <h2>Things you will need:</h2>
            </div>
            <div class="col s12 m6 equip-1">
                <img src="{{ url_for('static', filename='images/equip-1.png') }}" 
                     alt="Tap Jar, Black or Green Tea, Sugar ">
            </div>
            <div class="col s12 m6 equip-2 ">
                <img src="{{ url_for('static', filename='images/equip-2.png') }}" 
                     alt="Scoby, tea towel, rubber band and some bottles">
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1 ">
                <img src="{{ url_for('static', filename='images/step-1.png') }}" 
                     alt="image of tea and sugar being added to a teapot">
            </div>
            <div class="col s12 m5">
                <img src="{{ url_for('static', filename='images/step-1-text.png') }}" 
                     alt="Brew 2 bags of green or black tea with 100 grams of sugar in 1 litre of water">
            
            </div>
        </div>
    </div>

    <div class="row medium">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-2-text.png') }}" 
                     alt="add cooled tea and scoby, with starter liquid, to a large container">
            
            </div>
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-2.png') }}" 
                     alt="image of tea and scoby being added to a large tap jar">
            </div>
            
        </div>
    </div>

    <div class="row small">
        <div class="col s12 step">
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-2.png') }}" 
                     alt="image of tea and scoby being added to a large tap jar">
            </div>

            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-2-text.png') }}" 
                     alt="add cooled tea and scoby, with starter liquid, to a large container">
            
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1 ">
                <img src="{{ url_for('static', filename='images/step-3.png') }}" 
                     alt="image of a tea towel and rubber band being added to the top of a tap jar">
            </div>
            <div class="col s12 m5">
                <img src="{{ url_for('static', filename='images/step-3-text.png') }}" 
                     alt="cover the jar and allow to ferment for 7 to 10 days. a longer 
                          fermentation will result in a more sour kombucha">
            
            </div>
        </div>
    </div>
    
    <div class="row medium">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-4-text.png') }}" 
                     alt="bottle your kombucha into fermentation grade bottles leaving 
                          enough room to add any extra flavourings">
            
            </div>
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-4.png') }}" 
                     alt="image of kombucha in a large tap jar being pourd into swing top bottles">
            </div>
            
        </div>
    </div>

    <div class="row small">
        <div class="col s12 step">
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-4.png') }}"
                     alt="bottle your kombucha into fermentation grade bottles leaving 
                          enough room to add any extra flavouring">
            </div>

            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-4-text.png') }}" 
                     alt="image of kombucha in a large tap jar being pourd into swing top bottles">
            
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1 ">
                <img src="{{ url_for('static', filename='images/step-5.png') }}" 
                     alt="image of fruit being added to bottles of kombucha">
            </div>
            <div class="col s12 m5">
                <img src="{{ url_for('static', filename='images/step-5-text.png') }}" 
                     alt="add desired favourings to your bottles of kombucha, seal and 
                          allow for the second fermentation for 2 to 3 days">
            
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 m8 offset-m2 step">
                <img src="{{ url_for('static', filename='images/final-text.png') }}" 
                     alt="refridgerate for 24 hours before consuming to ensure the bottles dont explode">
        </div>
    </div>

    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4 l2 offset-l5 center-align btn landing-button">
            <a href="{{ url_for('recipes') }}">Recipes</a>
            
        </div>
    </div>




{% endblock %}
