{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12 m8 l6 offset-l3 offset-m2">
            <div class="col s12 how-to ">
                <img src="{{ url_for('static', filename='images/title.png') }}" alt="How to make kombucha">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row equip-title">
                <h2>Things you will need:</h2>
            </div>
            <div class="col s12 m6 equip-1">
                <img src="{{ url_for('static', filename='images/equip-1.png') }}" alt="Tap Jar, Black or Green Tea, Sugar ">
            </div>
            <div class="col s12 m6 equip-2 ">
                <img src="{{ url_for('static', filename='images/equip-2.png') }}" alt="Scoby, tea towel, rubber band and some bottles">
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1 ">
                <img src="{{ url_for('static', filename='images/step-1.png') }}" alt="">
            </div>
            <div class="col s12 m5">
                <img src="{{ url_for('static', filename='images/step-1-text.png') }}" alt="">
            
            </div>
        </div>
    </div>

    <div class="row medium">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-2-text.png') }}" alt="">
            
            </div>
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-2.png') }}" alt="">
            </div>
            
        </div>
    </div>

    <div class="row small">
        <div class="col s12 step">
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-2.png') }}" alt="">
            </div>

            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-2-text.png') }}" alt="">
            
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1 ">
                <img src="{{ url_for('static', filename='images/step-3.png') }}" alt="">
            </div>
            <div class="col s12 m5">
                <img src="{{ url_for('static', filename='images/step-3-text.png') }}" alt="">
            
            </div>
        </div>
    </div>
    
    <div class="row medium">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-4-text.png') }}" alt="">
            
            </div>
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-4.png') }}" alt="">
            </div>
            
        </div>
    </div>

    <div class="row small">
        <div class="col s12 step">
            <div class="col s12 m6 ">
                <img src="{{ url_for('static', filename='images/step-4.png') }}" alt="">
            </div>

            <div class="col s12 m5 offset-m1">
                <img src="{{ url_for('static', filename='images/step-4-text.png') }}" alt="">
            
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 step">
            <div class="col s12 m5 offset-m1 ">
                <img src="{{ url_for('static', filename='images/step-5.png') }}" alt="">
            </div>
            <div class="col s12 m5">
                <img src="{{ url_for('static', filename='images/step-5-text.png') }}" alt="">
            
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 m8 offset-m2 step">
                <img src="{{ url_for('static', filename='images/final-text.png') }}" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4 l2 offset-l5 center-align btn landing-button">
            <a href="{{ url_for('recipes') }}">Recipes</a>
            
        </div>
    </div>




{% endblock %}