{% extends "base.html" %}
{% block content %}


    
    {{ recipe.recipe_name }}<br><br>

    {% for ingredient in recipe.ingredients %}

    {% if (ingredient != "") %}

    <li>{{ ingredient }}</li>

    {% endif %}

    {% endfor %}<br><br>

    {% for step in recipe.method %}

    {% if (step != "") %}

    <li>{{ step }}</li>

    {% endif %}<br>

    {% endfor %}

    <!-- return to profile/ recipes -->

    {% if session['user'] == recipe.author %}

    <div class="row">
        <a href="{{ url_for('profile', username=session['user']) }}" class="col s6 btn-large orange darken-4 text-shadow">
            Return to Profile</a>
    </div>

    {% else %}

    <div class="row">
        <a href="{{ url_for('recipes') }}" class="col s6 btn-large orange darken-4 text-shadow">
            Return to Recipes</a>
    </div>

    {% endif %}

    



{% endblock %}