{% extends "base.html" %}
{% block content %}

<div class="row container">

    <div class="row">
        <div class="col s12 m8 offset-m2 page-head">
            <h3 class="center-align ">
                {{ recipe.recipe_name }}
            </h3>
            
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 ingredients">
            <h4 class="center-align">Ingredients</h4><br>
            
            {% for ingredient in recipe.ingredients %}

            {% if (ingredient != "") %}

            <h5><li >{{ ingredient }}</li></h5>

            {% endif %}
            {% endfor %}

        </div>
        <div class="col s12 m6 center-align recipe-img">

        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 page-head">        
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">

            <h4>Method</h4>

            {% for step in recipe.method %}

            {% if (step != "") %}
            {{ loop.counter }}

            <h5>step {{ loop.index }}. {{ step }}</h5><br>

            {% endif %}

            {% endfor %}



        </div>
        
    </div>

    <!-- return to profile/ recipes -->

    {% if session['user'] == recipe.author %}

    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4 l2 offset-l5 center-align btn recipe-btn">
            <a href="{{ url_for('profile', username=session['user']) }}">Return to Profile</a>
            
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="col s8 offset-s2 m6 offset-m3 center-align btn recipe-btn">
            <a href="{{ url_for('recipes') }}">Return to Recipes</a>
            
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}
