{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2 page-head">
            <h3 class="center-align ">
                Recipes
            </h3>
            
        </div>
    </div>

    <div class="row container">

        {% for recipe in recipes %}

        <div class="row recipe-content {{ loop.cycle('recipe-1', 'recipe-2') }}">
            <a href="{{ url_for('recipe', recipe_name=recipe.recipe_name) }}">
                <div class="col s12 m8 offset-m2 recipe-card" method="POST" action="{{ url_for('sign_up') }}">
                    <div class="col s12 center-align">
                        <h3>{{ recipe.recipe_name }}</h3>
                        <p>Recipe Author: <span class="username">{{ recipe.author }}</span></p>
                    </div>                    
                </div>
            </a>
        </div>

        
        {% endfor %}
    </div>

    
{% endblock %}
