{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel">
                <!-- name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="name" name="name" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z]$" class="validate" required>
						<label for="name">Name</label>
					</div>
                </div>
                <!-- email -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
						<input id="email" name="email" type="email" class="validate" required>
						<label for="name">Email</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Sign Up
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
