{% extends "base.html" %}
{% block content %}

    <div class="container">

        <h3 class="center-align">Register</h3>

        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
                <div class="card-panel">
                    <!-- username -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix "></i>
                            <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <!-- avatar select --> 
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="far fa-image prefix"></i>
                            <select class="icons" name="avatar">
                            <option disabled selected></option>
                            <option id="lemon" data-icon="{{ url_for('static', filename='images/avatars/lemon.png') }}">Lemon</option>
                            <option id="strawb" data-icon="{{ url_for('static', filename='images/avatars/strawb.png') }}">Strawberry</option>
                            <option id="apple" data-icon="{{ url_for('static', filename='images/avatars/apple.png') }}">Apple</option>
                            <option id="banana" data-icon="{{ url_for('static', filename='images/avatars/banana.png') }}">Banana</option>
                            </select>
                            <label>Avatar</label>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-envelope prefix "></i>
                            <input id="email" name="email" type="email" class="validate" required>
                            <label for="name">Email</label>
                        </div>
                    </div>
                    <!-- passowrd -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-lock prefix "></i>
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- register -->
                    <div class="row">
                        <button type="submit" class="col s12 btn btn-large">
                            Sign Up
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col s12">
                <p class="center-align redirect_message">
                    Already Signed Up?
                    <a href="{{ url_for('login') }}">Log In</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
